USE [DbUsersActivity]
GO
/****** Object:  Table [dbo].[tblWikipediaActivity]    Script Date: 25-03-2023 23:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWikipediaActivity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[stext] [varchar](max) NOT NULL,
	[email] [varchar](250) NOT NULL,
	[create_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblWikipediaActivity] ON 

INSERT [dbo].[tblWikipediaActivity] ([id], [stext], [email], [create_date]) VALUES (1, N'react', N'jayrajadesara@gmail.com', CAST(N'2023-03-25T15:08:32.017' AS DateTime))
INSERT [dbo].[tblWikipediaActivity] ([id], [stext], [email], [create_date]) VALUES (2, N'reactjs', N'jayrajadesara@gmail.com', CAST(N'2023-03-25T15:08:46.147' AS DateTime))
INSERT [dbo].[tblWikipediaActivity] ([id], [stext], [email], [create_date]) VALUES (3, N'', N'jayrajadesara@gmail.com', CAST(N'2023-03-25T16:02:11.633' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblWikipediaActivity] OFF
GO
/****** Object:  StoredProcedure [dbo].[getUserSearchDataWikipedia]    Script Date: 25-03-2023 23:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getUserSearchDataWikipedia]
@stext varchar(max)='',
@email varchar(250),
@operation varchar(100)=''
As
begin
	if(@operation='insert')
	begin
		insert into tblWikipediaActivity values (@stext,@email,GETDATE())
	end
	if(@operation='get')
	begin
		SELECT id,stext,email,create_date FROM tblWikipediaActivity WHERE email=@email
	end
	if(@operation='last7days')
	begin
		SELECT id,stext,email,create_date FROM tblWikipediaActivity WHERE create_date >= DATEADD(day,-7, GETDATE()) and email=@email
	end
	if(@operation='last1days')
	begin
		SELECT id,stext,email,create_date FROM tblWikipediaActivity WHERE create_date >= DATEADD(day,-1, GETDATE()) and email=@email
	end
	if(@operation='last1hour')
	begin
		SELECT id,stext,email,create_date FROM tblWikipediaActivity 
		WHERE create_date >= DATEADD(HOUR, -1, GETDATE()) and email=@email
	end
end
GO
